form{
    margin-top: 40px;
    text-align: center;
    background-color: #e8e8e8;
}

form input{
    margin-bottom: 10px;
}

form input[type="submit"]{
    margin-top: 10px;
}

form img{
    width: 200px;
    margin: 40px 0 40px 0;
}

.card{
    margin-top: 40px;
    padding: 5px;
}

.textos #product-name{
    display: flex;
    justify-content: space-between;
    margin-top: 30px ;
    justify-content: center;
   
}

.textos #value{
    font-weight: bold;
    font-size: 24px;
    margin-left: 12px;
}

.card a {
    margin-top: 5px;
    
}

.buttons{
    display: flex;
    justify-content: space-around;
    
}

.alert{
    margin-top: 30px;
}