
<main>

  {{! Formulário }}
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3"> <!--offset centraliza ao centro -->
            <form action="/cadastrar" method="post" enctype="multipart/form-data">
                <input type="text" name="nome" class="form-control" placeholder="Nome do produto">
                <input type="number" name="valor" class="form-control" placeholder="Valor do produto">
                <input type="file" name="imagem" class="form-control">
                <input type="submit" class="btn btn-primary" value="Cadastrar">
            </form>

      </div>

    </div>
  </div>

  {{!-- LIstagem de produtos --}}

  <div class="container">
    <div class="row">
    {{#each produtos}}
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
            <img src="../imagens/{{imagem}}" alt="">
            <div class="textos">
              <p>{{nome}}</p>
              <p>{{valor}}</p>
            </div>
            <a href="#" class="btn btn-warning">Alterar</a>
            <a href="#" class="btn btn-danger">Remover</a>
          </div>
        </div>

    {{/each}}
    </div>
  </div>
</main>